[submodule "Sharparam.SharpBlade"]
	path = Sharparam.SharpBlade
	url = git@github.com:Sharparam/SharpBlade.git
[submodule "Sharparam.SteamLib"]
	path = Sharparam.SteamLib
	url = git@github.com:Sharparam/SteamLib.git
