[submodule "Sharparam.SharpBlade"]
	path = Sharparam.SharpBlade
	url = https://github.com/Sharparam/SharpBlade.git
[submodule "Sharparam.SteamLib"]
	path = Sharparam.SteamLib
	url = https://github.com/Sharparam/SteamLib.git
