[submodule "Sharparam.SteamLib"]
	path = Sharparam.SteamLib
	url = https://github.com/Sharparam/SteamLib.git
[submodule "SharpBlade"]
	path = SharpBlade
	url = git://github.com/SharpBlade/SharpBlade.git
